.square2 {
    position: relative;
    top: 150px;
    left: 10%;
    z-index: -1;
    width: 80%;
    height: 2000px;
    background:rgb(60,60,60);
    border-radius: 40px 40px 40px 40px; 
 }

